<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOSPet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/SOSPet.css" />
</head>

<body>
    <header id="header" class>
        <h1 class="h1" id="h1_header"><a id="a_logo_header" href="~/">SOSPet</a></h1>
        <div class="hamburger">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <nav id="nav_header">
            <ul class="ul" id="ul_header">
                <li class="li_header"><a class="a_li_header" href="~/servicos/pre_agendamento">Pré-agendamento</a></li>
                <li class="li_header"><a class="access_header" href="~/usuario/cadastro">Cadastre-se</a></li>
                <li class="li_header"><a class="access_header" href="~/usuario/login">Faça login</a></li>
                <li class="li_header"><a class="access_header" href="~/usuario/conta">Conta</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <main class="container">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div>
            &copy; 2021 - SOSPet
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/SOSPet.js"></script>
</body>

</html>
