<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOSPet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/SOSPet.css" />
</head>
<body>
    <header>
        <h1>SOSPet</h1>
        <nav>
            <ul>
                <li><a href="~/servicos/pre_agendamento">Pré-agendamento</a></li>
                <li><a href="~/usuario/solicitacao">Solicitaçao de Cadastro</a></li>
                <li><a href="~/usuario/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <main>
            @RenderBody()
        </main>
    </section>
    <footer>
        <div>
            &copy; 2021 - SOSPet
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/SOSPet.js"></script>
</body>
</html>
