<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOSPet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/SOSPet.css" />
</head>

<body>
    <header id="header">
        <h1 class="h1"><a id="a_logo_header" href="~/Home">SOSPet</a></h1>
        <nav>
            <ul class="ul" id="ul_header">
                <li class="li_header"><a class="a_li_header" href="~/servicos/pre_agendamento">Pré-agendamento</a></li>
                <li class="li_header"><a class="a_li_header" href="~/usuario/solicitacao">Solicitaçao de Cadastro</a></li>
                <li class="li_header"><a class="a_li_header" href="~/usuario/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>
        <div>
            &copy; 2021 - SOSPet
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/SOSPet.js"></script>
</body>

</html>
